/*Here is body design of webpage*/
body {
  text-align: center;
  margin-left: 0;
  margin-top: 0;
  font-family: 'Roboto', sans-serif;
}

/*Top container holds the top most part of the webpage like nav bar etc*/
.top-container{
  background-color: #E4F9F5;
}

.top_heading {
  width: auto;
  font-size: 500%;
  margin: 30px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

.top_tag_line{
  margin-top: 0;
  font-size: 100%;
  margin-bottom: 50px;
  font-family: 'Open Sans', sans-serif;
}

.outer_short_image{
  display: inline-block;
  padding-top: 50px;
  width: 10%;
  overflow:visible;
}

.inner_short_image{
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  display: inline-block;
}

.outer_medium_image{
  display: inline-block;
  width: 15%;
  overflow:visible;
}

/*Space leaved for future uses*/
.middle-container{

}

.bottom-container{

}
